@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/* General reset */
body {
    margin: 0;
    padding: 0;
    background-color: #333333; /* Dark background */
    color: #f4f4f9; /* Light text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the logo and buttons */
.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

/* Logo section */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 100px; /* Adjust the size of the logo */
    height: auto;
}

/* Button container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 50px; /* Push buttons below the logo */
}

/* Buttons */
.btn {
    color: #333333;
    background-color: #f4f4f9; /* Light background for buttons */
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    font-size: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: block;
}

.btn:hover {
    cursor: pointer;
}

.btn:visited,
.btn:active {
    color: inherit; /* Keep the text color consistent */
}

a{
    text-decoration: none;
    color: inherit;
}