<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Reminder</title>
</head>

<body>
    <!-- SVG Logo -->
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
        </a>
    </div> 
           
    <!-- Display error messages if any validation errors occurred -->
    {% if errors %}
        <div style="color: red; margin-bottom: 20px;">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Form -->
    <div class="form-container">

        <form method="POST" action="/reminder">
            <!-- Name -->
            <div class="form-group">
                <label class="form-label" for="medication">Medication</label>
                <input class="form-input" type="text" id="medication" name="medication" required>
            </div>
            <!-- Type -->
            <div class="form-group">
                <label class="form-label" for="medication-administration">Medication Administration</label>
                <select class="form-input" id="medication-administration" name="medication-administration" required>
                    <option value="oral">Oral</option>
                    <option value="transdermal">Transdermal</option>
                    <option value="nasal">Nasal</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <!-- Time -->
            <div class="form-group last-eaten">
                <label class="form-label" for="last_eaten">Time to administer</label>
                <div class="form-last-eaten-container">
                    <select class="form-input" id="hours" name="hours" required>
                        {% for i in range(0, 24) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <span class="form-last-eaten">Hours</span>
                    <select class="form-input" id="minutes" name="minutes" required>
                        {% for i in range(0, 60) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <span class="form-last-eaten">Minutes</span>
                </div>
            </div>
            <!-- Submit Button -->
            <button class= "form-submit" type="submit">Submit</button>
        </form>
    </div>
</body>

</html>